@import './blocks.scss';
@import '../../index.scss';

.end {
  @include block;
  @include block-text;

  background-color: gold;
  color: black;

  @include fadein(250ms);
}

.hidden {
  @include block;

  color: transparent;
  background-color: lighten($color: #000000, $amount: 20);
}
