@import './blocks.scss';

.start {
  @include block;
  @include block-text;

  background-color: lighten($color: #000000, $amount: 15);
  color: whitesmoke;
}

.is-started {
  background-color: greenyellow;
  color: black;
}
