@import './blocks.scss';
@import '../../index.scss';

.start {
  @include block;
  @include block-text;

  background-color: lighten($color: #000000, $amount: 15);
  color: whitesmoke;
  cursor: cell;
}

.is-started {
  @include fadein(250ms, 1);

  background-color: greenyellow;
  color: black;
}
