.lives {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  list-style: none;
  display: flex;
  gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  user-select: none;
  color: lighten($color: red, $amount: 20);
}
