@import '../../index.scss';

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  display: grid;
  place-items: center;
  cursor: default;
  opacity: 0;
  z-index: 1;

  @include fadein(250ms);
}
