@import '../../index.scss';

.overlay {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  background-color: lighten($color: #000000, $amount: 8);
  cursor: default;
  z-index: 1;
}
