#root {
  display: grid;
  gap: 1rem;
  place-items: center;
  min-height: 100vh;

  h1 {
    font-weight: 400;
    align-self: flex-end;
    position: relative;
    user-select: none;

    strong {
      color: gold;
    }

    &::after {
      content: attr(data-version);
      position: absolute;
      top: -0.75rem;
      right: 0;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 0.75rem;
      color: lighten($color: #000000, $amount: 25);
    }
  }
}

.app {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  background-color: lighten($color: #000000, $amount: 20);
  cursor: cell;

  &::after {
    content: 'map' attr(data-map);
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: lighten($color: #000000, $amount: 25);
  }

  &::before {
    content: attr(data-instructions);
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    color: lighten($color: #000000, $amount: 30);
  }
}
