#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.App {
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  cursor: wait;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  display: grid;
  place-items: center;
}
